<div class="container">
    <div class="page-header">
        <h1 class="text-center">Comenzi</h1>
    </div>
    Pentru a plasa o comanda va rugam completati urmatorul formular.<br><br>
    ATENTIE LA CORECTITUDINEA DATELOR!<br><br>

    <form action="">
        Produse: <input type="text" name="produse"><br>
        Prenume: <input type="text" name="fname"><br>
        Nume: <input type="text" name="lname"><br>
        Email: <input type="text" name="email"><br>
        Numar de telefon: <input type="text" name="nrtel"><br>
        Strada: <input type="text" name="adresa"><br>
        Orasul: <input type="text" name="oras"><br>
        Judetul: <input type="text" name="judet"><br>
        Cod postal: <input type="number" name="codpostal"><br>
        <form name="myform" action="" method="POST">
            <div ><br>
                <input type="radio" name="group1" value="Milk"> Posta Romana - 10 RON/kg<br>
                <input type="radio" name="group1" value="Butter" checked> Fan Courier - 20 RON/kg<br>
            </div>
        </form>
        </div>


        <input type="submit" value="Plaseaza comanda">
    </form>

</div>



</div>
