<div class="container">
    <div class="page-header">
        <h1 class="text-center">Contact</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4" style="font-size:155%">
		<dl class="dl-horizontal">
			<dt>Prenume</dt>
			<dd>{{contact_info.first_name}}</dd>
			<dt>Nume</dt>
			<dd>{{contact_info.last_name}}</dd>
			<dt>Nr. tel.</dt>
			<dd>
				{{contact_info.phone_number}}
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="Cosmote"></span>
			</dd>
			<dt>E-mail</dt>
            <dd>{{contact_info.email}}</dd>
		</dl>
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			});
		</script>

        </div>
    </div>



</div>
