<div class="container">
    <div class="page-header">
        <h1 class="text-center">Legende</h1>
    </div>


    <ul>
        <li>
            <h2>Roger Federer</h2>
            <img ng-src="img/tmp/federer.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>

            <br>Roger Federer (n. 8 august 1981) este jucător elvețian de tenis de câmp, care a deținut locul 1 în clasamentul ATP timp de 302 săptămâni (record).
            <br>În prezent este clasat pe locul 2 ATP. Este deținător al recordului pentru cele mai multe victorii în turneele de Mare șlem, cu 17 astfel de succese, și în Turneul Campionilor, cu șase trofee.
            <br>A fost pentru mai mult de cinci ani lider al clasamentului mondial al tenismenilor profesioniști.

        </li>

        <li>
            <h2>Andre Kirk Agassi</h2>
            <img ng-src="img/tmp/agassi.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>
            <br>Andre Kirk Agassi (n. 29 aprilie 1970, Las Vegas, Nevada) este un fost lider mondial în tenisul profesionist, care a câștigat în carieră opt turnee de Mare Șlem și o medalie olimpică de aur, în 1996, la Atlanta.
            <br>Este considerat printre cei mai buni jucători care au practicat vreodată tenisul și cel mai bun jucător la returul de serviciu din istoria tenisului.
            <br>A devenit celebru pentru atitudinea și stilul ieșite din comun, pe care le-a afișat în carieră, Agassi fiind deseori considerat cel mai carismatic jucător din istorie și direct răspunzător pentru creșterea popularității tenisului în anii 1990.
            <br>Este căsătorit cu multipla câștigătoare de turnee de Mare Șlem, fosta jucătoare Steffi Graf.
        </li>

        <li>
            <h2>Pete Sampras</h2>
            <img ng-src="img/tmp/sampras.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>

            <br>Peter „Pete” Sampras (n. 12 august 1971, Washington, DC, Statele Unite ale Americii) este un jucător de tenis american de origine greacă.
            <br>A activat între anii 1988 și 2002, câștigând de paisprezece ori Marele Șlem la categoria simplu bărbați. S-a menținut timp de șase ani în poziția întâi a clasamentelor mondiale ale ATP.
            <br>Este recunoscut ca unul dintre cei mai talentați tenismeni din ultimele patru decenii.
        </li>

        <li>
            <h2>Steffi Graf</h2>
            <img ng-src="img/tmp/steffi.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>
            <br>Stefanie Maria Graf (n. 14 iunie 1969, Mannheim) este o fostă jucătoare germană profesionistă de tenis.
            <br>Ea a câștigat de 22 de ori marile turnee internaționale de tenis „Grand Slam” care cuprind „Australian Open”, „French Open”, „Wimbledon” și „US Open”. Timp de 377 de săptămâni a fost jucătoarea numărul unu de tenis în lume.
            <br>În 1988 a câștigat toate cele 4 turnee Grand Slam cât și Jocurile Olimpice, fiind până în prezent singura care a câștigat așa-numitul „Golden Slam” (adică toate cele patru turnee „Grand Slam” și „Jocurile Olimpice” în același an).
        </li>



        <li>
            <h2>Martina Navratilova</h2>
            <img ng-src="img/tmp/martina.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>
            <br>Martina Navratilova (in ceha: Martina Navrátilová) (n. 18 octombrie 1956 în Praga, Cehoslovacia) este o fostă jucătoare de tenis, fostă numărul 1 mondial.
            <br>Este considerată una dintre cele mai bune jucătoare de tenis din toate timpurile.

        </li>


    </ul>

</div>
