<div class="container">
    <div class="page-header">
        <h1 class="text-center">Date importante</h1>
    </div>

   <ul>
      <li>
          <h4>BCE</h4>
          <ul>
              <li>
                  <h6>2750</h6>
                  <br>Prima interventie chirurgicala s-a practicat in Egipt
              </li>
              <li>
                  <h6>1600</h6>
                  <br>Papirusul chirurgical al lui Edwin Smith arata ca unele organe, cum ar fi inima, vasele ei, ficatul, splina, rinichii, uterul si vezica, erau recunoscute.
              </li>
              <li>
                  <h6>420</h6>
                  <br>Hippocrates din Cos sustine faptul ca bolile au cauze naturale si stabileste Juramantul lui Hipocrate

              </li>
              <li>
                  <h6>200</h6>
                  <br>The Charaka Samhita (in sud-estul Asiei) adopta o abordare obiectiva, rationala in ceea ce priveste cauzele si remediile bolilor.

              </li>
          </ul>
      </li>


       <li>
           <h4>CE</h4>
           <ul>
               <li>
                   <h6>30-100 </h6>
                   <br>Aulus Cornelius Celsus, un fizician roman, publica o carte de scrieri medicale grecesti despre anatomie si chirurgie, numita De re medicina.
               </li>
               <li>
                   <h6>101-500 </h6>
                   <br>Galen, un om de stiinta grec, se muta la Roma si devine fizician la curtea imperial dupa castigarea unei experiente valoroase ca si doctor la o scoala de gladiatori.
                   <br><br>Zhang Zhongjing compileaza Shang Han Lun, ,cel mai vechi manual medical din lume.

               </li>
               <li>
                   <h6>501-1000 </h6>
                   <br>Ali ibn Sahl Rabban al – Tabari decedeaza. A scris prima enciclopedie medicala, in araba.
                   <br><br>Abū ʿAlī al-Ḥusayn ibn ʿAbd Allāh ibn Sīnā scrie Al-Qanoon fi al-Tibb, care stabileste medicina experimentala si bazata pe dovezi si devine un manual de baza in lumea musulmana si europeana, pana la sfarsitul sec. 18.
               </li>
               <li>
                   <h6>1001-1500 </h6>
                   <br>Incepe epidemia de ciuma in Europa si, pentru prima si singura data, populatia incepe sa se diminueze.
                   <br><br>Este publicata prima carte de anatomie cu ilustratie: Isagogae breves per lucide ac uberrime in Anatomiam humani corporis de Jacopo Berengario da Carpi.
                   <br><br>Andreas Vesalius publica De Fabrica Corporis Humani, care corecteaza erorile medicale grecesti si revoluztioneaza medicina europeana.
                   <br><br>Miguel Serveto este primul European care descrie circulatie sangelui prin plamani (desi a facut-o intr-un tratat teologic).

               </li>
               <li>
                   <h6>1501-2000 </h6>
                   <br>William Harvey descrie correct sistemul circulator in Exercitatio Anatomica de Motu Cordis et Sanguinis in Animalibus.
                   <br><br>Giacomo Pylarini aduce pentru prima data in Europa vaccinurile impotriva variolei. Inainte, erau folosite des in partea de est.
                   <br><br>Claudius Aymand realizeaza prima operatie de apendicita, atestata.
                   <br><br>Hanaoka Seishu, un chirurg japonez, realizeaza prima operatie documentata pe un pacient sub anestezie generala.
                   <br><br>James Blundell, care a dorit sa previna sangerarea pana la moarte a femeilor dupa nastere, realizeaza cu success prima transfuzie de sange.
                   <br><br>In Report on the Sanitary Condition of the Labouring Population of Great Britain, Edwin Chadwick explica rolul conditiilor de mediu pentru sanatatea oamenilor.
                   <br><br>Ignaz Semmelweis descopera ca spalatul pe maini previne o infectie bacteriala comuna, dar fatala, contactata de femeie in timpul nasterii.
                   <br><br>Louis Pasteur stabileste teoria germenilor: infectia este cauzata de organisme vii si nu de "generare spontana"
                   <br><br>Wilhelm Röntgen descopera utilizarea medicala a razelor X.
                   <br><br>Karl Landsteiner discopera ca exista diferite tipuri de sange, explicand motivul pentru care unele transfuzii nu au avut success.
                   <br><br>Willem Einthoven discopera ca electrocardiograma (ECG/EKG) poate citi activitatea electrica a inimii.
                   <br><br>Frederick Hopkins descopera vitaminele si rolul lor in sanatate si boala.
                   <br><br>Hans Berger realizeaza prima encefalograma (EEG), care inregistreaza activitatea electrica a creierului.
                   <br><br>Orvan Hess incepe sa lucreze la primul monitor fetal al inimii.
                   <br><br>Willem J. Kolff construieste primul rinichi artificial sau aparatul de dializa.
                   <br><br>Benjamin Spock publica Baby and Child Care, initiind o revolutie in cresterea copiilor, sugerand parintilor sa fie mai afectuosi si sa-I trateze ca si indivizi.
                   <br><br>Claude Beck realizeaza cu success prima defibrilare, care salveaza viata unui baiat de 14 ani in timpul unei operatii de inima.
                   <br><br>Sunt publicate primele rapoarte care fac legatura dintre tutun si cancer.
                   <br><br>Jonas Salk dezvolta primul vaccin impotriva poliomelitei.
                   <br><br>Joseph Murray realizeaza primul transplant uman de rinichi.
                   <br><br>James Hardy realizeaza primul transplant de plamani. Pacientul traieste 18 zile.
                   <br><br>Walter Krause si Richard Soldner dezvolta primul aparat cu ultrasunete pentru utilizarea in spitale.
                   <br><br>Christiaan Barnard realizeaza primul transplant uman de inima, desi pacientul moare in mai putin de o luna.
                   <br><br>Raymond Vahan Damadian realizeaza prima scanare MRI (imagistica prin rezonanta magnetica) a intregului corp uman.
                   <br><br>Variola este prima boala exterminata de pe pamant.
                   <br><br>Guvernul Statelor Unite raporteaza ca, in Los Angeles, "5 tineri, toti homosexuali activi"au fost diagnosticati cu pneumonie Pneumocystis carinii pneumonia— primele cazuri de SIDA raportate in Statele Unite.
                   <br><br>Alec Jeffreys dezvolta tehnica amprentelor AND, acum indispensabila in medicina legala.
                   <br><br>Yik San Kwoh realizeaza prima operatie robotizata.
                   <br><br>Julio Palmaz inventeaza primul stent intravascular commercial folositor si revolutioneaza tratarea afectiunilor cardiace.
                   <br><br>Lucrand in mod independent, James Thomson si John Gearhart raporteaza cu succes cresterea celulelor umane stem in cultura.

               </li>
               <li>
                   <h6>2001-2015 </h6>
                   <br>Proiectul International Genom Uman face public un draft al genomului uman complet.
                   <br><br>Jacques Marescaux realizeaza prima teleoperatie din New York unui pacient din Germania.
                   <br><br>Carlo Urbani, din Doctors without Borders alerteaza Organizatia Mondiala a Sanatatii despre pericolul virusului SARS.
                   <br><br>Chirurgul francez Jean-Michael Dubernard realizeaza primul transplant facial partial.
                   <br><br>Un Italian in varsta de 54 de ani este primul pacient care traieste mai mult de 1000 de zile cu o inima artificiala, asteptand un donator de inima.

               </li>


           </ul>






       </li>

   </ul>