<div class="container">
    <div class="page-header">
        <h1 class="text-center">Legende</h1>
    </div>


    <ul>
        <li>
            <h2>Roger Federer</h2>
            <img ng-src="img/tmp/federer.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>

            <br>Roger Federer (n. 8 august 1981) este jucător elvețian de tenis de câmp, care a deținut locul 1 în clasamentul ATP timp de 302 săptămâni (record).
            <br>În prezent este clasat pe locul 2 ATP. Este deținător al recordului pentru cele mai multe victorii în turneele de Mare șlem, cu 17 astfel de succese, și în Turneul Campionilor, cu șase trofee.
            <br>A fost pentru mai mult de cinci ani lider al clasamentului mondial al tenismenilor profesioniști.

        </li>

        <li>
            <h2>Andre Kirk Agassi</h2>
            <img ng-src="img/tmp/agassi.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>
            <br>Andre Kirk Agassi (n. 29 aprilie 1970, Las Vegas, Nevada) este un fost lider mondial în tenisul profesionist, care a câștigat în carieră opt turnee de Mare Șlem și o medalie olimpică de aur, în 1996, la Atlanta.
            <br>Este considerat printre cei mai buni jucători care au practicat vreodată tenisul și cel mai bun jucător la returul de serviciu din istoria tenisului.
            <br>A devenit celebru pentru atitudinea și stilul ieșite din comun, pe care le-a afișat în carieră, Agassi fiind deseori considerat cel mai carismatic jucător din istorie și direct răspunzător pentru creșterea popularității tenisului în anii 1990.
            <br>Este căsătorit cu multipla câștigătoare de turnee de Mare Șlem, fosta jucătoare Steffi Graf.
        </li>


        <li>
            <h2>Novak Đoković</h2>
            <img ng-src="img/tmp/djokovic.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>
            <br>Novak Đoković ( n. 22 mai 1987, Belgrad) este un jucător profesionist sârb de tenis de câmp, câștigător în 2008, 2011, 2012, 2013 și 2015 al turnelului Australian Open, în 2011, 2014 și 2015 al turneelor Wimbledon și U.S. Open în 2011 și 2015.
            <br>Đoković este în prezent numărul 1 în ierarhia ATP. La Jocurile Olimpice de la Beijing, în 2008, a câștigat medalia de bronz.
            <br>Đoković a câșigat 2008, 2012, 2013 și 2014 Turneul Campionilor, are în palmares 24 de titluri în turneele din seria Masters.
        </li>



        <li>
            <h2>Rafael Nadal</h2>
            <img ng-src="img/tmp/nadal.jpg" style="width:500px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" /><br>

            <br>Rafael „Rafa” Nadal Parera (n. 3 iunie 1986) este un jucător spaniol de tenis, fost numărul 1 mondial, în prezent ocupă locul al zecelea.
            <br>Nadal este considerat unul dintre cei mai mari tenismeni din istorie și în opinia multor experți cel mai mare jucător de tenis pe zgură din toate timpurile.Multiplele sale succese pe zgură i-au adus numele de „Regele zgurii”.
            <br>Nadal a câștigat paisprezece turnee de Grand Slam, incluzând un record de 9 French Open-uri, medalia de aur la Jocurile Olimpice, un record de 24 turnee ATP Masters Series și, de asemenea, a făcut parte din echipa de Cupa Davis a Spaniei care a câștigat finala în 2004, 2008, 2009 și 2011.
        </li>


    </ul>

</div>
