<div class="container">
    <div class="page-header">
        <h1 class="text-center">Contact</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4" style="font-size:155%">
		<dl class="dl-horizontal">
			<dt>Prenume</dt>
			<dd>Ștefania Alina</dd>
			<dt>Nume</dt>
			<dd>Brașoveanu</dd>
			<dt>Nr. tel.</dt>
			<dd>0764527716</dd>
			<dt>Disponibilitate</dt>
			<dd>24/7</dd>
            <dt>E-mail</dt>
            <dd>stefy_alina1997@yahoo.com</dd>
		</dl>
        </div>
    </div>



</div>
