<div class="container">
    <div class="page-header">
        <h1 class="text-center">Retete din bucataria bunicii</h1>
    </div>

    <ul>
        <li>
            <h1> Ciorba taraneasca</h1>
            <br>
            <img ng-src="img/products/ciorba.jpg" style="width:350px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" />
            <br>
            <ul>
                <li>1 kg carne (de porc) </li>
                <li>1 ceapa mare (cca 100 gr) </li>
                <li>1 radacina patrunjel (cca 100 gr) </li>
                <li>1 bucata telina (cca 100 gr) </li>
                <li>2 morcovi (cca 200 gr) </li>
                <li>2 cartofi (cca 300 gr) </li>
                <li>varza alba (cca 300 gr) </li>
                <li>conopida (cca 200 gr) </li>
                <li>1 ardei mic (cca 50 gr) </li>
                <li>2 rosii (cca 200 gr) </li>
                <li>150 gr mazare (din conserva) </li>
                <li>200 ml bulion (sau o lingura de pasta de rosii dizolvata cu putina supa) </li>
                <li>1 lamaie </li>
                <li>1/2 legatura verdeata (leustean, patrunjel sau tarhon) </li>
                <li>3 lingurite sare </li>
                <li>3 linguri ulei </li>
            </ul>
        </li>

        <li>
            <h1> Cartofi taranesti cu ceapa</h1>
            <br>
            <img ng-src="img/products/cartofi.jpg" style="width:350px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" />
            <br>

            <br><br>Sunt atat de gustosi, se fac usor, sunt buni si simpli, si garnitura, incat merita sa-i incerci. Din ingrediete rezulta patru - sase portii.

                <br><br>Ingrediente: 1 kg cartofi, patru cepe mari (de preferat, rosie), doi catei de usturoi, ulei, sare, piper, o foaie de dafin, cimbru uscat.

                <br><br> Preparare: Curata cartofii si pune-i la fiert taiati in bucati potrivite, la foc mic, intr-o oala cu capac. Separat, intr-un vas cu fundul gros (este ideal un ceaun de tuci), pune la calit ceapa, taiata mai mare. Adauga un praf de sare, piper, foaia de dafin si doi catei de usturoi taiati marunt. Amesteca. Trebuie ca ceapa sa fie gata (calita si usor rumenita), cand sunt fierti si carofii. Scurge apa in care au fiert cartofii (dar pastreaza o cana), si arunca-i peste ceapa calita. Amesteca bine. Adauga putina apa din cea in care au fiert cartofii. Serveste-i calzi, cu verdeata deasupra.

                <br><br> Sfat :Poti adauga si fasii de sunculita afumata in ceapa. Poti adauga putina boia iute sau dulce, la final, dupa gustul tau ori o lingura - doua de iaurt sau smantana cand ii servesti.


        </li>


        <li>
            <h1> Mancare de gutui</h1>
            <br>
            <img ng-src="img/products/gutui.jpg" style="width:350px;height:auto; overflow:hidden;" ng-if="current_page()!='acasa' && current_page()!=''" />
            <br>

            Ingrediente:
            <ul>
                <li>3 gutui mari</li>
                <li>50 g faina</li>
                <li>100 g zahar</li>
                <li>apa,ulei</li>

            </ul>

            Preparare:
            <ul>
            <li>Se curata gutuile de seminte si se taie cubulete.Se calesc gutuile in putin ulei pana se inmoaie.</li>

                <li>Se scot gutuile cu o paleta si se lasa deoparte.Intr-o alta cratita se caramelizeaza cele 100 gr de zahar dar nu foarte tare pentru ca devine amar.</li>

                <li>Dupa ce s-a caramelizat zaharul se stinge cu doua pahare de apa si se adauga gutuile.Se lasa sa mai fiarba circa 20 minute,apoi se ingroasa cu un rantas facut din faina si apa rece.</li>
            </ul>
        </li>

    </ul>


</div>



</div>
