<div class="container">
    <div class="page-header">
        <h1 class="text-center">Iuțică de ardei, ca la Licuriciu de Teleorman</h1>
    </div>
    <p>Ce vremuri erau odinioară! Chipul mătușii Ioana a lu’ Moș Florea Nicolae din Licuriciul Teleormanului se umple de zâmbet când își aduce aminte de bucatele de demult, așa cum se găteau în vremurile de „sărăcie”, dar pline de bucurii ale copilăriei și tinereții dumisale. Și ce ritualuri erau atunci! … Și ce rețete! Iat-o, bunăoară, pe aceasta: iuțică de raci. Racii fiind ardeii roșii specifici Olteniei, cu carne subțire și pieliță tare.</p>
    <img src="img/products/iutica.jpg" style="width:auto;height:100%;" class="center-block"/>
    <p>Se coc ardeii (racii) pe plită sau pe flacăra de aragaz. Dacă sunt ardei uscați, se trec prinn flacără puțin, ca să prindă miros de copt. Se pisează usturoi și ardei într-o piuliță, se freacă apoi cu ulei și i se adaugă apă fierbinte, pentru că e foarte iute.</p>

<p>În zeama aceasta se întinge cu mămăligă caldă sau cu preznă (pâine), iar de multe ori în loc de lingură se folosește un ardei uscat.</p>

<p>În alt fel, iuțica se face fierbând separat șapte-opt ardei, până le scade zeama și rămâne puțină. Se pisează usturoi deoparte. Se face o mămăligă și în zeama „scurată” (scursă) de la ardei se amestecă bine usturoiul pisat și puțin oțet și apoi se întinge cu mămăligă.</p>

</div>



</div>
